.App {
  text-align: center;
}
.Home {
  border: 3px solid green
}

.Nav {
  border: 3px solid yellow
}
.Articles {
  border: 3px solid blue
}
.Article {
  border: 3px solid blue
}
.Comments {
  border: 3px solid orange
}
.Articles_by_Topic {
  border: 3px solid blue
}
.Articles_by_User {
  border: 3px solid blue
}