@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-family: "Lato", sans-serif;
}

a,
li {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}

.App {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content auto auto;
  grid-template-areas:
    "Home"
    "Nav"
    "Articles";
}

.Nav {
  background-color: #054ba6;
  color: white;
  text-align: left;
  line-height: 2;
  grid-area: Nav;
}
.Nav a {
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
}
.Nav .Expand__button {
  position: absolute;
  top: 16px;
  right: 20px;
  font-size: 18px;
  font-weight: bold;
  padding: 0 4px;
  background-color: #054ba6;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
}

.Nav-web {
  display: none;
}

.UserProfile__button {
  font-size: 15px;
  background-color: #054ba6;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  padding: 5px 10px;
}
.UserProfile__container {
  padding-left: 15px;
  margin: 12px 0;
}

.Home {
  grid-area: Home;
}
.Home h1 {
  background-color: #054ba6;
  color: white;
  text-align: left;
  padding: 15px;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 1px;
}
.Home span {
  color: #e60404;
}
.Nav-web .Topics__list li {
  display: inline;
  margin-right: 10px;
  text-transform: uppercase;
}

.Topics:before,
.Topics:after {
  display: block;
  height: 1px;
  background-color: white;
  opacity: 0.5;
  content: "";
  width: 90%;
  margin: 5px auto;
}
.Topics__list {
  padding-left: 15px;
}

.Articles {
  grid-area: Articles;
}
.ArticlesList__sort-by {
  position: absolute;
  top: 70px;
  right: 20px;
  font-size: 18px;
  font-weight: bold;
  padding: 4px;
  background-color: white;
  color: #054ba6;
  border: 1px solid #054ba6;
  border-radius: 4px;
}
.Articles__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.ArticlesList__list {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}
.ArticlesList__card {
  width: 300px;
  margin: 10px auto;
  display: flex;
}
.ArticlesList__img {
  flex: 1;
}
.ArticlesList__card img {
  width: 100%;
}
.ArticlesList__info {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 10px;
}
.ArticlesList__info a h2 {
  font-size: 15px;
  font-weight: 700;
}
.ArticlesList__further-info {
  font-size: 12px;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
}
.Articles__topic {
  color: #054ba6;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: -15px;
  text-align: center;
}
.Articles_by_User__user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.Articles_by_User__user-img {
  margin-right: 15px;
}
.Articles_by_User__user-img img {
  height: 100px;
}
.Articles_by_User_user-info h1 {
  margin-bottom: 5px;
  font-weight: 900;
  color: #054ba6;
}
.Articles_by_User_user-info h2 {
  font-size: 20px;
}

.Article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Article__box {
  margin: 30px 0;
  width: 300px;
}
.Article__article h1 {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 900;
}
.Article__author {
  width: 100%;
  text-align: right;
  margin-bottom: 15px;
}
.Article__author p {
  display: inline;
}
.Article__img-box {
  width: 100%;
  text-align: center;
}
.Article__img-box img {
  width: 100%;
  height: auto;
}
.Article__article p {
  text-align: justify;
  line-height: 1.5;
  margin: 20px 0;
  font-size: 15px;
}

.Article__likes-comments {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 20px;
}
.Article__likes-comments button {
  margin-right: auto;
  font-size: 15px;
  height: 30px;
  padding: 3px 15px;
  background-color: white;
  color: #054ba6;
  border: 1px solid #054ba6;
  border-radius: 4px;
  width: 80px;
}
.Article__likes {
  padding-right: 30px;
}

.Add-comment {
  width: 100%;
  text-align: right;
}
.Add-comment__input {
  padding: 10px;
  width: calc(100% - 20px);
  font-size: 14px;
  border: 1px solid #054ba6;
  border-radius: 4px;
  font-family: inherit;
  line-height: 1.5;
}
.Add-comment__button {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  height: 30px;
  padding: 3px ;
  background-color: #054ba6;
  color: white;
  border: 1px solid #054ba6;
  border-radius: 4px;
  width: 100%;
}
.Comments__display {
  display: flex;
  align-items: center;
  position: relative;
}
.Comments__display h2 {
  margin-right: 15px;
  text-transform: uppercase;
}
.Comments .Expand__button {
  font-size: 18px;
  font-weight: bold;
  padding: 0 6px;
  background-color: white;
  color: #054ba6;
  border: 1px solid #054ba6;
  border-radius: 4px;
}
.Comments__all {
  position: absolute;
  top: 0;
  left: 0;
  margin: 50px 0;
  padding-bottom: 30px;
}
.Comments__list-item {
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #054ba6;
}
.Comments__list-item:last-child {
  border: none;
}
.Comments__list-author {
  font-weight: 900;
  margin-bottom: 10px;
}
.Comments__list-details {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 10px;
}
.Comments__list-likes {
  margin-right: 20px;
}
.Comments__scroll-up {
  position: absolute;
  right: 0;
  bottom: 20px;
  font-size: 25px;
  font-weight: bold;
  padding: 0 6px;
  background-color: white;
  color: #054ba6;
  border: 1px solid #054ba6;
  border-radius: 4px;
}

.Login__home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.Login__home-page h1 {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #054ba6;
  text-align: left;
  padding: 15px;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 1px;
}
.Login__home-page span {
  color: #e60404;
}
.Login__pop-up {
  border: 1px solid #054ba6;
  border-radius: 4px;
}
.Login__pop-up h2 {
  background-color: #054ba6;
  padding: 15px;
  color: white;
}
.Login__pop-up p {
  padding: 25px 15px;
  font-size: 20px;
}
.Login__button-box {
  width: 100%;
  text-align: center;
}
.Login__button {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  padding: 6px 12px;
  background-color: white;
  color: #054ba6;
  border: 1px solid #054ba6;
  border-radius: 4px;
}

@media only screen and (min-width: 600px) {
  .App {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: min-content auto;
    grid-template-areas:
      "Home Nav-web"
      "Articles Articles";
  }
  .Nav-web {
    grid-area: Nav-web;
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    background-color: #054ba6;
    color: white;
  }
  .Nav-web a {
    color: white;
  }
  .Home h1 {
    font-size: 22px;
  }
  .Topics__list li a {
    margin-right: 10px;
    font-size: 14px;
  }
  .UserProfile__button {
    font-size: 12px;
  }
  .UserProfile__container {
    padding-right: 10px;
  }
  .Topics:before,
  .Topics:after {
    display: none;
  }
  .ArticlesList__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 35px;
  }
  .ArticlesList__card {
    margin-right: 20px;
    width: 420px;
  }
  .ArticlesList__info a h2 {
    font-size: 20px;
  }
  .ArticlesList__further-info {
    font-size: 16px;
  }
  .Article__box {
    margin: 30px 0;
    width: 550px;
  }
  .Article__article p {
    font-size: 20px;
  }
  .Article__likes-comments button {
    font-size: 18px;
    width: 144px;
  }
  .Add-comment__input {
    font-size: 18px;
  }
  .Add-comment__button {
    margin-top: 15px;
    font-size: 18px;
    height: 30px;
    padding: 3px 15px;
    background-color: white;
    color: #054ba6;
    border: 1px solid #054ba6;
    border-radius: 4px;
    width: 144px;
  }
  
}

@media only screen and (min-width: 725px) {
  .Topics__list li a {
    margin-right: 10px;
    font-size: 18px;
  }
  .UserProfile__container {
    padding-right: 20px;
  }
  .Home h1 {
    font-size: 25px;
  }
  .Article__article h1 {
    font-size: 30px;
  }
  .Comments__scroll-up {
    position: absolute;
    right: -70px;
    bottom: 60px;
  }
}

@media only screen and (min-width: 900px) {
.Article__box {
  margin: 30px 0;
  width: 700px;
}
.Article__article h1 {
  font-size: 35px;
}
.Comments__scroll-up {
  position: absolute;
  right: -70px;
  bottom: 60px;
}
}
@media only screen and (min-width: 1020px) {
  .Article__box {
    margin: 30px 0;
    width: 800px;
  }
  .Comments__scroll-up {
    position: absolute;
    right: -100px;
    bottom: 60px;
  }
}